[run]
relative_files = true
include = lib/*.py,lib/**/*.py,tests/*.py,tests/**/*.py
sigterm = true

[report]
include = lib/*.py,lib/*/*.py,tests/*.py,tests/*/*.py
include_namespace_packages = True

[html]
directory = coverage/html
show_contexts = true

[json]
output = coverage/coverage.json
pretty_print = true

[xml]
output = coverage/coverage.xml
